
.skills{
    width: 500px;
    margin: -50px auto;
    color: black;
    list-style: none;
    padding: 0;
}
.text-top-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills li{
    margin :70px 0;
}
.skills-h3{
    text-align: right;
}
.h1-skills-left2{
    float: right;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 10px;
}
.h1-skills-left3{
    float: right;
    font-size: 20px;
}
.text-skills-title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.text-unit-skills{
    font-size: 20px;
    font-weight: bold;
    margin-top: -33px;
    position: absolute;
    margin-left: 20px;
    
}
.text-unit-skills2{
    margin-left:65px;
}
.bar{
    position: relative;
    background-color: #ffffff;
    display: block;
    height: 40px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}
.bar span{
    height: 40px;
    float: right;
    border-radius: 8px;
}

@keyframes Bar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
