.top-chart {
  width: 90%;
  height: 600px;
  background-color: rgb(255, 235, 161);
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-top: 100px;
  border-radius: 20px;
  flex-direction: row;
}
.doughnut-top {
  width: 40%;
}
.h3-title-right1 {
  text-align: center;
  margin-right: 200px;
}
.h3-title-right2 {
  margin-top: -75px;
  text-align: center;
  margin-left: 100px;
}
.h1-chartTop-right {
  font-size: 45px;
  float: right;
  margin-top: -300px;
  margin-right: 170px;
  color: rgb(2, 99, 15);
}

.h1-chartTop-right2 {
  float: right;
  margin-top: -230px;
  margin-right: 180px;
  font-size: 30px;
}
.h1-chartTop-right3 {
  float: right;
  margin-top: -260px;
  margin-right: 240px;
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .container-chart {
    margin-left: 20px;
  }
}

/* bottom-chart */
.bottom-chart {
  width: 90%;
  height: 700px;
  background-color: rgb(255, 255, 255);
  margin-left: 60px;
  margin-top: 100px;
  border-radius: 20px;
}

.h3-bottom {
  text-align: right;
  font-size: 30px;
  margin-right: 20px;
}
.labels-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  margin-left: 20px;
  height: 60px;
}
.labels-bottom div {
  transform: Rotate(330deg);
  font-size: 20px;
}

/* end bottom-chart */
